/* Setting variables for colors that will be repeated throughout the webpage. */
:root {
    --labelColor: rgb(115, 191, 214);
    --textColor: rgb(41, 68, 128);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
    color: var(--textColor);
    width: 25%;
    text-align: right;
    border-right: 3px solid var(--textColor);
    padding-right: 20px;
}

header {
  height: 90px;
  width: 100%;
  line-height: 60px;
  background-color: rgb(87, 87, 87);
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: var(--labelColor);
}

li {
    display: inline;
    padding: 0px 20px;
}

main {
    padding: 15px;
    background-color: rgb(232, 238, 240);
}

nav {
    text-align: right;
}

p {
    color: var(--textColor);
    padding-top: 10px;
}

.contact {
    color: var(--textColor);
    padding: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.headshot {
    height: 200px;
    width: auto;
    border-radius: 50%;
    border: 2px solid var(--textColor);
    margin: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.label {
    background-color: var(--labelColor);
    color: var(--textColor);
    position: relative;
    top: -100px;
    padding: 10px;
    width: fit-content;
    left: 20px;
}

.navbar {
    text-decoration: none;
    color: var(--labelColor);
}

.projects {
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    top: -80px;
    flex: 1 0 300px;
    margin-left: 20px;
}

.project-image {
    border: 4px solid var(--labelColor);
    object-fit: cover;
    margin: 20px;
    width: 100%;
    max-height: 200px;
}

.right-block {
    width: 75%;
    padding: 20px;
}

/* The first project image will be larger than the others */
#first-project {
    flex: 2 1 600px;
}

#first-project img {
    max-height: 400px;
    min-width: 300px;
}

#github {
    text-decoration: none;
    color: var(--textColor);
}

/* When the screen gets below 840px, the headers for each of the sections will stack on top of the
content in a column instead of being in a row. */
@media screen and (max-width: 840px) {
    .container {
        flex-direction: column;
    }
    h2 {
        width: max-content;
        border-right: none;
        border-bottom: 3px solid var(--textColor);
    }
}